<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Emotion Scanner!</title>
</head>

<style>
    li, a {
        font_family:"Ubuntu";
        font-size: 16px;
        color: #FFAEB7;
        text-decoration: none;
    }
</style>

<header>
  <div> mental health feedback app!! </div>
  <nav>
      <ul>
        <li> <a href= '{{ url_for('index')}}'> Home </a></li>
        <li> <a href= '{{ url_for('index')}}'> About me </a></li>
        <li> <a href= '{{ url_for('index')}}'> Contact me </a></li>
        <li> <a href= '{{ url_for('index')}}'> Github </a> </li>
      </ul>
    </nav>
</header>

<body>
{% block content %}
{% endblock %}
</body>
</html>